@model Inspinia_MVC5_SeedProject.Models.ReciboCuota

@{
    ViewBag.Title = "Details";
}

<style>
    table th {
        font-size: 14px;
    }
</style>

@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>*@




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                    <h5>Details ReciboCuota</h5>
                </div>*@
                <div class="ibox-content">
                    <table class="table table-bordered" style="border: solid 2px #bebebe;">
                        <tbody>
                            <tr>
                                <th style="text-transform:uppercase; background-color: #eee; width: 30%;">Recibo de Prima</th>
                                <th style="font-weight:normal;">@Html.DisplayFor(model => model.Cuota.ReciboDePrima)</th>
                            </tr>
                            <tr>
                                <th style="text-transform:uppercase; background-color: #eee; width: 30%;">Número de Recibo</th>
                                <th style="font-weight:normal;">@Html.DisplayFor(model => model.NumRecibo)</th>
                            </tr>
                            <tr>
                                <th style="text-transform:uppercase; background-color: #eee; width: 30%;">Fecha</th>
                                <th style="font-weight:normal;">@Html.DisplayFor(model => model.Fecha)</th>
                            </tr>
                            <tr>
                                <th style="text-transform:uppercase; background-color: #eee; width: 30%;">Pago</th>
                                <th style="font-weight:normal;">@Html.DisplayFor(model => model.Pago)</th>
                            </tr>
                            <tr>
                                <th style="text-transform:uppercase; background-color: #eee; width: 30%;">Pago Neto</th>
                                <th style="font-weight:normal;">@Html.DisplayFor(model => model.PagoNeto)</th>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    </div>

                </div>
            </div>
        </div>
    </div>
 </div>













